.shield {
  position: relative;
}

.logo {
  position: absolute;
  top: calc(670px / 2);
  width: calc(520px / 2);
  height: calc(520px / 2);
  transform: rotate(10deg);

  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &::before {
    content: ' ';
    position: absolute;
    top: calc(calc(100% - 70%) / 2);
    left: calc(calc(100% - 70%) / 2);

    width: 70%;
    height: 70%;

    border-radius: 50%;
    border: 20px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    z-index: 2;
    mix-blend-mode: soft-light;
  }

  &.left {
    left: calc(335px / 2);
    transform: rotate(10deg);
  }
  &.right {
    right: calc(335px / 2);
    transform: rotate(-10deg);
  }
}

.leader {
  position: absolute;
  left: calc(50% - calc(575px / 4));
  top: calc(calc(125px / 2) + calc(575px / 4));
  width: calc(575px / 2);
  height: calc(575px / 2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/image/shield/shield-base.png') top center / cover no-repeat;
  z-index: 0.9999;
}

.svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
