.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 1263px;
  cursor: pointer;
  overflow: hidden;
}

.shape {
  background: url('/image/card/base-decal.png');
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.head_shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/image/card/head-shade.png');
  mix-blend-mode: soft-light;
  opacity: 0.8;
}

.decal_bg_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/image/card/front-decal-bg.jpg') top center / cover no-repeat;
}

.title {
  left: 95px;
  top: 73px;
  width: 640px;
  height: 86px;
  overflow: hidden;
  position: absolute;
  font-family: 'C_Copperplate_Gothic';
  font-size: 60px;
  color: white;
  line-height: 86px;
  opacity: 0.937;
}

.subtitle {
  left: 93px;
  top: 176px;
  width: 470px;
  height: 67px;
  overflow: hidden;
  position: absolute;
  font-family: 'C_Trebuchet';
  font-weight: bold;
  font-size: 40px;
  color: #0b0503;
  line-height: 67px;
  opacity: 0.937;
}

.body {
  top: 704px;
  height: 499px;
  width: 734px;
  left: 89px;
  overflow: hidden;
  position: absolute;
  font-family: 'C_Candara';
  font-size: 40px;
  color: #0b0503;
  opacity: 0.937;
  white-space: pre-wrap;
  line-height: 1.25em;
}

.body h1,
.body h2,
.body h3,
.body h4,
.body h5,
.body h6,
.body p,
.body img,
.body hr,
.body ul,
.body ol,
.body li {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.body h1 + *,
.body h2 + *,
.body h3 + *,
.body h4 + *,
.body h5 + *,
.body h6 + *,
.body p + *,
.body img + *,
.body hr + *,
.body ul + *,
.body ol + *,
.body li + * {
  margin-top: 0.3em;
}

.body h1 {
  font-family: 'C_Copperplate_Gothic';
  font-size: 35px;
}

.body h2,
.body h3,
.body h4,
.body h5,
.body h6 {
  font-family: 'C_Trebuchet';
}

.body hr {
  margin: 0;
  padding: 0;
  border-top: 0 none;
  border-left: 0 none;
  border-right: 0 none;
  height: 0;
  border-bottom: 1px solid silver;
}

.type {
  position: absolute;
  top: 94px;
  right: 101px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: inset 0 0 4px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.typeOverlay {
  width: 91px;
  height: 91px;
  mix-blend-mode: overlay;
}
.typeShade {
  width: 91px;
  height: 91px;
  position: absolute;
  top: 17.9px;
  left: 16.5px;
  opacity: 0.5;
}
