.ball {
  text-align: center;
  width: 3.2vw;
  height: 3.2vw;
  line-height: 3.2vw;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px black;
  background-color: currentColor;
  font-family: C_Copperplate_Gothic;
  font-size: 1.6vw;
  flex: none;
}

.borderA {
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 6%;
  left: 6%;
  width: 86%;
  height: 86%;
  border-width: 1px;
  border-color: currentColor;
}

.borderB {
  box-sizing: border-box;
  border-radius: 50%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0.7vw;
  border-style: solid;
}
