.base {
  display: flex;
  background: #f1e3b8;
  height: 18vw;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
}

.flipped {
  padding: 2vw 9vw 2vw 2vw;
  margin-right: -4vw;
  border-radius: 10vw 0 0 10vw;
}

.unflipped {
  padding: 2vw 2vw 2vw 9vw;
  margin-left: -4vw;
  border-radius: 0 10vw 10vw 0;
}

.image {
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  overflow: hidden;
  flex: none;
  width: 24vw;
}
