.withBottom {
  display: flex;
  flex-direction: column;
  flex: 1;

  & > *:first-child {
    flex: 1;
  }
}

.sideBySide {
  display: flex;
  flex-direction: row;
  gap: 2vw;

  & > * {
    flex: 1;
  }
}
